/* :root{
    --color: red;
} */

:root{
    --position: 0px;
}

/* .circle{
    height: 100px;
    width: 100px;
    border: 1px solid orange;
    border-radius: 100%;
    background-color: var(--color);
} */
.slider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .slides{
    display: flex;
    transform: translateX(var(--position));
    transition: 1s;
 }
 .img{
    width: 1200px;
    height: 800px;
 }
 .wrapper{
    width: 1200px;
    height: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}
